<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PhotoBuyRecordMapper">

	<select id="findByUserIdAndPhotoId" resultType="com.photo.api.model.photo.PhotoBuyRecord">
		select * from photo_buy_record where photo_id = #{photoId} and user_id = #{userId}
	</select>
	<insert id="add" parameterType="com.photo.api.model.photo.PhotoBuyRecord">
		insert into photo_buy_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="photoId != null and photoId != ''">
				photo_id,
			</if>
			<if test="userId != null and userId != ''">
				user_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="photoId != null and photoId != ''">
				#{photoId},
			</if>
			<if test="userId != null and userId != ''">
				#{userId},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
		</trim>
	</insert>
	
	<select id="addBatch" parameterType="java.util.List">  
	    insert into photo_buy_record
	    <trim prefix="(" suffix=") values" suffixOverrides=",">
				photo_id,
				user_id,
				status,
				create_time,
				choice,
		</trim>
		<foreach collection="list" item="item" index="index" separator=",">
		  	<trim prefix="(" suffix=")" suffixOverrides="," >
			    <if test="item.photoId != null and item.photoId != ''">
					#{item.photoId},
				</if>
				<if test="item.userId != null and item.userId != ''">
					#{item.userId},
				</if>
				<if test="item.status != null">
					#{item.status},
				</if>
				<if test="item.createTime != null">
					#{item.createTime},
				</if>
				<if test="item.choice != null">
					#{item.choice},
				</if>
			</trim>
	    </foreach>
    </select>
	
	<update id="update" parameterType="com.photo.api.model.photo.PhotoBuyRecord">
		update photo_buy_record 
		<set>
			<trim suffixOverrides=",">
				<if test="status != null">
					status = #{status},
				</if>
			</trim>
		</set>
		<where>
			<trim prefixOverrides="and ">
				<if test="userId != null and userId != ''">
					and user_id = #{userId}
				</if>
				<if test="photoId != null and photoId != ''">
					and photo_id = #{photoId}
				</if>
			</trim>
		</where>
	</update>
	
	<update id="updateBatch" parameterType="java.util.List">
		<foreach item="item" collection="list" index="index" open="" close="" separator=";">
				update photo_buy_record
				<set>
					<trim suffixOverrides=",">
						<if test="status != null">
							status = #{item.status},
						</if>
					</trim>
				</set>
				<where>
					<trim prefixOverrides="and ">
						<if test="userId != null and userId != ''">
							and user_id = #{item.userId}
						</if>
						<if test="photoId != null and photoId != ''">
							and photo_id = #{item.photoId}
						</if>
					</trim>
				</where>
    	</foreach>
	</update>
	
	<select id="findByPage" resultType="com.photo.api.model.photo.PhotoBuyRecord">
		select * from photo_buy_record
		<where>
			<trim prefixOverrides="and ">
				<if test="userId != null and userId != ''">
					and user_id = #{userId}
				</if>
				<if test="photoId != null and photoId != ''">
					and photo_id = #{photoId}
				</if>
				<if test="choice != null">
					and choice = #{choice}
				</if>
				<if test="status != null">
					and status = #{status}
				</if>
			</trim>
			<if test="ordering != null">
				order by #{ordering}
			</if>
		</where>
		
		limit #{offset},#{limit}
	</select>
	
	<select id="findCountByPage" resultType="Integer">
		select count(*) from photo_buy_record
		<where>
			<trim prefixOverrides="and ">
				<if test="userId != null and userId != ''">
					and user_id = #{userId}
				</if>
				<if test="photoId != null and photoId != ''">
					and photo_id = #{photoId}
				</if>
				<if test="choice != null">
					and choice = #{choice}
				</if>
				<if test="status != null">
					and status = #{status}
				</if>
			</trim>
		</where>
	</select>
</mapper>