<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">


	<resultMap id="Base_Result_Model" type="com.photo.api.model.user.User">
		<result column="user_id" property="userId"/> 
		<result column="nick_name" property="nickName"/>
		<result column="head_img" property="headImg"/>
		<result column="user_type" property="userType"/>
		<result column="status" property="status"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="update_user" property="updateUser"/>
		<result column="coins" property="coins"/>
		<result column="sign" property="sign"/>
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="sex" property="sex"/>
		<result column="bir" property="bir"/>
		<result column="app_id" property="appId"/>
		<result column="package_name" property="packageName"/>
	</resultMap>
	
	<resultMap type="HashMap" id="Base_Result_HashMap"></resultMap>
	
	<sql id="sqlId">
		user_id,
		nick_name,
		head_img,
		user_type,
		status,
		create_time,
		update_user,
		update_time,
		coins,
		sign,
		email,
		password,
		sex,
		bir,
		app_id,
		package_name

	</sql>
	


	<select id="findById" resultMap="Base_Result_Model">
		select 
		<include refid="sqlId"/> 
		from user where user_id = #{userId}
	</select>
	<select id="findWithUserIdAndName" resultMap="Base_Result_Model">
		select 
		<include refid="sqlId"/> 
		from user where user_id = #{userId} and nick_name = #{nickName} limit 0,1
	</select>
	<select id="findByNickName" resultMap="Base_Result_Model">
		select 
		<include refid="sqlId"/> 
		from user where nick_name = #{nickName} limit 0,1
	</select>
	<select id="findUserByEmail" resultMap="Base_Result_Model">
		select 
		<include refid="sqlId"/> 
		from user where email = #{email} limit 0,1
	</select>
	<select id="findByPage" resultMap="Base_Result_Model">
		select 
		<include refid="sqlId"/> 
		from user limit #{offset},#{limit}
	</select>
	<select id="findCountByPage" resultType="Integer">
		select count(1) from user
	</select>
	
	<insert id="add" parameterType="com.photo.api.model.user.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null and userId != ''">
				user_id,
			</if>
			<if test="nickName != null and nickName != ''">
				nick_name,
			</if>
			<if test="headImg != null and headImg != ''">
				head_img,
			</if>
			<if test="sign != null and sign != ''">
				sign,
			</if>
			<if test="email != null and email != ''">
				email,
			</if>
			<if test="updateUser != null and updateUser != ''">
				update_user,
			</if>
			<if test="appId != null and appId != ''">
				app_id,
			</if>
			<if test="packageName != null and packageName != ''">
				package_name,
			</if>
			<if test="userType != null">
				user_type,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="coins != null">
				coins,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="userId != null and userId != ''">
				#{userId},
			</if>
			<if test="nickName != null and nickName != ''">
				#{nickName},
			</if>
			<if test="headImg != null and headImg != ''">
				#{headImg},
			</if>
			<if test="sign != null and sign != ''">
				#{sign},
			</if>
			<if test="email != null and email != ''">
				#{email},
			</if>
			<if test="updateUser != null and updateUser != ''">
				#{updateUser},
			</if>
			<if test="appId != null and appId != ''">
				#{appId},
			</if>
			<if test="packageName != null and packageName != ''">
				#{packageName},
			</if>
			<if test="userType != null">
				#{userType},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="coins != null">
				#{coins},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
		</trim>
	</insert>
	
	<update id="update" parameterType="com.photo.api.model.user.User">
		update user 
		<set>
			<trim suffixOverrides=",">
				<if test="nickName != null and nickName!=''">
					nick_name = #{nickName},
				</if>
				<if test="headImg != null  and headImg!=''">
					head_img = #{headImg},
				</if>
				<if test="coins != null">
					coins = #{coins},
				</if>
				<if test="sign != null and sign!=''">
					sign = #{sign},
				</if>
				<if test="email != null and email !=''">
					email = #{email},
				</if>
				<if test="appId != null and appId != ''">
					app_id = #{appId},
				</if>
				<if test="packageName != null and packageName != ''">
					package_name = #{packageName},
				</if>
				<if test="status != null">
					status = #{status},
				</if>
					update_time = NOW(),
			</trim>
		</set>
		<where>
			<trim prefixOverrides="and ">
				<if test="userId != null and userId != ''">
					and user_id = #{userId}
				</if>
			</trim>
		</where>
	</update>
</mapper>