<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<select id="findById" resultType="com.photo.api.model.user.User">
		select * from user where user_id = #{userId}
	</select>
	<select id="findWithMap" resultType="map">
		select * from user where user_id = #{userId}
	</select>
	<select id="findByPage" resultType="com.photo.api.model.user.User">
		select * from user limit #{offset},#{limit}
	</select>
	<select id="findCountByPage" resultType="Integer">
		select count(*) from user
	</select>
	
	<insert id="add" parameterType="com.photo.api.model.user.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null and userId != ''">
				user_id,
			</if>
			<if test="nickname != null and nickname != ''">
				nickname,
			</if>
			<if test="headImg != null and headImg != ''">
				head_img,
			</if>
			<if test="sign != null and sign != ''">
				sign,
			</if>
			<if test="email != null and email != ''">
				email,
			</if>
			<if test="updateUser != null and updateUser != ''">
				update_user,
			</if>
			<if test="userType != null">
				user_type,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="coins != null">
				coins,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="userId != null and userId != ''">
				#{userId},
			</if>
			<if test="nickname != null and nickname != ''">
				#{nickname},
			</if>
			<if test="headImg != null and headImg != ''">
				#{headImg},
			</if>
			<if test="sign != null and sign != ''">
				#{sign},
			</if>
			<if test="email != null and email != ''">
				#{email},
			</if>
			<if test="updateUser != null and updateUser != ''">
				#{updateUser},
			</if>
			<if test="userType != null">
				#{userType},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="coins != null">
				#{coins},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
		</trim>
	</insert>
	
	<update id="update" parameterType="com.photo.api.model.user.User">
		update user 
		<set>
			<trim suffixOverrides=",">
				<if test="nickname != null and nickname!=''">
					nickname = #{nickname},
				</if>
				<if test="headImg != null  and headImg!=''">
					head_img = #{headImg},
				</if>
				<if test="coins != null">
					coins = #{coins},
				</if>
				<if test="sign != null and sign!=''">
					sign = #{sign},
				</if>
				<if test="email != null and email !=''">
					email = #{email},
				</if>
				<if test="status != null">
					status = #{status},
				</if>
					sign = NOW(),
			</trim>
		</set>
		<where>
			<trim prefixOverrides="and ">
				<if test="userId != null and userId != ''">
					and user_id = #{userId}
				</if>
			</trim>
		</where>
	</update>
</mapper>